basePath: /api/v1
definitions:
  domains.Demo:
    properties:
      message:
        type: string
    type: object
  dto.AuthResponseBody:
    properties:
      token:
        type: string
      type:
        type: string
    type: object
  dto.ForgotPasswordRequestBody:
    properties:
      email:
        example: example@email.com
        type: string
    required:
    - email
    type: object
  dto.LoginRequestBody:
    properties:
      email:
        example: example@email.com
        type: string
      password:
        example: password
        maxLength: 30
        minLength: 8
        type: string
    required:
    - email
    - password
    type: object
  dto.TokkenVerifyRequestBody:
    properties:
      token:
        example: token
        type: string
    required:
    - token
    type: object
  dto.UserResponseBody:
    properties:
      email:
        type: string
      fullname:
        type: string
      id:
        type: integer
    type: object
  wrapper.SuccessResponse:
    properties:
      data: {}
      metadata: {}
      success:
        example: true
        type: boolean
    type: object
info:
  contact: {}
  description: This is the API Document for WePress
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: WePress API
  version: "1.0"
paths:
  /auth/forgot-password:
    post:
      consumes:
      - application/json
      description: Request To Reset Password
      parameters:
      - description: Forgot Password Request Body
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.ForgotPasswordRequestBody'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/wrapper.SuccessResponse'
            - properties:
                data:
                  type: object
              type: object
      summary: Forgot Password
      tags:
      - auth
  /auth/login:
    post:
      consumes:
      - application/json
      description: Post Login
      parameters:
      - description: Login Request Body
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.LoginRequestBody'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            Set-Cookie:
              description: auth=token; Path=/; Secure
              type: string
          schema:
            allOf:
            - $ref: '#/definitions/wrapper.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.AuthResponseBody'
              type: object
      security:
      - Bearer: []
      summary: Post Login
      tags:
      - auth
  /auth/me:
    get:
      consumes:
      - application/json
      description: Get User Profile
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/wrapper.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/dto.UserResponseBody'
              type: object
      security:
      - Bearer: []
      summary: Get User Profile
      tags:
      - auth
  /auth/verify:
    get:
      consumes:
      - application/json
      description: Verify Token
      parameters:
      - description: Token to verify
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.TokkenVerifyRequestBody'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/wrapper.SuccessResponse'
            - properties:
                data:
                  type: object
              type: object
      security:
      - Bearer: []
      summary: Verify Token
      tags:
      - auth
  /demo:
    get:
      consumes:
      - application/json
      description: Get demo
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/wrapper.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/domains.Demo'
              type: object
      security:
      - Bearer: []
      summary: Get demo
      tags:
      - demo
securityDefinitions:
  AccessToken:
    description: Enter the token with the `Bearer ` prefix, e.g. `Bearer jwt_token_string`.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
